

<!-- START NAV -->
<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="#">
          <h3 class="title is-3 has-text-white">Trayectoria Escolar</h3>
        </a>
      </div>
    </div>
  </nav>
  <!-- END NAV -->
  