<div class="column is-3 ">
    <aside class="menu is-hidden-mobile">
        <p class="menu-label">
            General
        </p>
        <ul class="menu-list">
            <li><a href="/">Inicio</a></li>
            <li><a href="/pdf">Manejo PDF</a></li>
            <p class="menu-label">
                    Panel de datos
                </p>
            <li>
                
                <ul>
                    <li><a href="/dashboard/subjects">Materias</a></li>
                    <li><a href="/dashboard/graduates">Alumnos</a></li>
                </ul>
            </li>
        </ul>
    </aside>
</div>