<html>
    <head>
        <title> Inicio </title>
        <link rel="stylesheet" href="/bulma.min.css">
    </head>

    <body>
        <section class="hero is-fullheight">
            <div class="hero-body">
              <div class="container">
                <div class="columns is-centered">
                  <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                    <div class="content">                  
                          <input type="text" name="email" title="email" placeholder="Email" required autofocus>
                          <input type="password" name="password" title="password" placeholder="Password" required>
                  
                          <div class="level options">
                            <div class="checkbox level-left">
                              <input type="checkbox" id="checkbox" class="regular-checkbox">
                              <label for="checkbox"></label>
                              <span>Recuerdame</span>
                            </div>
                  
                            <a class="btn btn-link level-right" href="#">   Recuperar contraseña</a>
                          </div>                  
                          <button type="submit" class="btn btn-primary">Entrar</button>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <script type="text/javascript" src="/login.js"> </script>
    </body>

</html>